
Compile erlang sources

  By default the compilation goal is bound to the <<<compile>>> phase when
  the project packaging is defined as <<<erlang-otp>>>.
  
  Information about configuration options see the goal
  {{{../compile-mojo.html}reference documentation}}. 
 
 The following example shows a simple setup:
  
+--
<project>
  ...
  <packaging>erlang-otp</packaging>
  ...
  <build>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <extensions>true</extensions>
      </plugin>
    </plugins>
  </build>
  ...
</project>
+--

 This all that is required to compile the Erlang sources found in
 <<<src/main/erlang>>>.
 
+--
+- src/
  +- main/
    +- erlang/
      +- sample_module.erl
+--

 The output <<<beam>>> files will be put into <<<target/ebin>>>.
 
+--
+- target/
  +- ebin/
    +- sample_module.beam
+--
